.ProductShop {
    position: relative;
    top: 3rem;
    width: 100%;
    height: auto;
    background-image: url(../img/background1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ProductShop-content {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ProductShop-content h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #2A3133;
    font-weight: 400;
}

.ProductShop-content h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #2A3133;
    font-weight: 300;
}

.ProductShop-content h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #2A3133;
    font-weight: 600;
    margin-top: -10px;
}

.ProductShop-content h1 span {
    margin-left: 5rem;
}

.ProductShop-content .ProductShop-content-p {
    margin-top: -2rem;
}

.ProductShop-services {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.ProductShop-services-card {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    opacity: 1;
    text-align: center;
    padding: 10px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #0000004D;
    border-radius: 30px;
    opacity: 1;
}

.ProductShop-services-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.ProductShop-services-card h3,
.ProductShop-services-card p {
    position: relative;
    z-index: 1;
}



.ProductShop-services-card h3 {
    color: #8B2E5D;
    margin-top: -5rem;
}

.ProductShop-services-card p {
    color: #8B2E5D;
    font-size: 13px;
    font-weight: 600;
}

.ProductShop-services-card .rating{
    width: 80px;
}

.ProductShop-services-card h4{
    position: relative;
    top: 10px;
    font-size: 16px;
}
.ProductShop-services-card h4 span{
    color: #0a090929;
    text-decoration:line-through;
}
.ProductShop-services-card img {
    width: 140px;
}

.ProductShop-services-card button {
    background: transparent linear-gradient(253deg, #993680 0%, #2F1A59 81%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    height: 30px;
    width: 150px;
    border: none;
    color: #fff;
    font: normal normal medium 20px/19px Poppins;
}

.ProductShop-content .allServices{
    text-align: right;
    position: relative;
    right: 30px;
    top: 30px;
    font-weight: 700;
}