.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.logo {
  display: flex;
  position: relative;
  right: 12px;
}

.logo span {
  position: relative;
  top: 3px;
}

.logo img {
  height: 40px;
  margin-left: 20px;
}

.menubar {
  opacity: 0.3;
}

.nav-links {
  list-style: none;
  position: relative;
  top: 8px;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links .cart {
  width: 30px;
  height: 30px;
}

.nav-links li {
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover{
  color: rgb(226, 43, 162);
}

.nav-links li a img {
  width: 100px;
  position: relative;
  top: -4px;
}